export AWS_ACCESS_KEY_ID="<b2-key-id>"
export AWS_SECRET_ACCESS_KEY="<b2-application-key>"
export PULUMI_CONFIG_PASSPHRASE="<pulumi-passphrase>"
export BWS_ACCESS_TOKEN="<machine-account-token>"
export AWS_REQUEST_CHECKSUM_CALCULATION=when_required
export AWS_RESPONSE_CHECKSUM_VALIDATION=when_required
PROXMOX_VE_API_TOKEN="<proxmox-ve-api-token>"

pulumi login "s3://my-pulumi-state?endpoint=s3.us-west-004.backblazeb2.com&s3ForcePathStyle=true"
pulumi new typescript --secrets-provider=passphrase
pulumi package add terraform-provider maxlaverse/bitwarden
to set variables do a config set --secret <variable-name> <value>