[defaults]
ansible_user = vmuser
host_key_checking = False
interpreter_python = /usr/bin/python3
deprecation_warnings=False
private_key_file = ~/.ssh/vmuser

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, community.general.proxmox, community.proxmox.proxmox

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False